/* анимация стрелочек */
.dragonfly img:nth-of-type(2),
.dragonfly img:nth-of-type(3),
.dragonfly img:nth-of-type(4) {
  animation: array-shrinking 3s infinite;
}

@keyframes array-shrinking {
  0% {
    width: 8vw;
  }
  50% {
    width: 14vw;
  }
  100% {
    width: 8vw;
  }
}

/* спрайт-анимация графиков */
.sprite-graphics {
  animation: graphics 3s steps(25) infinite;
}

@keyframes graphics {
  100% {
    background-position: -7750px;
  }
  0% {
    background-position: 0px;
  }
}
