/* анимация стрелочек */
.dragonfly img:nth-of-type(2),
.dragonfly img:nth-of-type(3),
.dragonfly img:nth-of-type(4) {
  animation: array-shrinking 3s infinite;
}

@keyframes array-shrinking {
  0% {
    width: 8vw;
  }
  50% {
    width: 14vw;
  }
  100% {
    width: 8vw;
  }
}

/* спрайт-анимация графиков */
.sprite-graphics {
  animation: graphics 3s steps(25) infinite;
}

@keyframes graphics {
  100% {
    background-position: -7750px;
  }
  0% {
    background-position: 0px;
  }
}

/* анимация мигания плашек */
@keyframes dangerBlink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* класс, который JS будет вешать на картинки */
.show-danger {
  animation: dangerBlink 0.6s infinite;
  opacity: 1;
}
